<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/static/js/detect.js" defer></script>
  <title>CropCare</title>
</head>

<body>
  <h1>Agricultural Technology</h1>
  <ul>
    <li><a href="/detect">Disease Detection</a></li>
    <li><a href="/predict">Crop Recomendation</a></li>
    <li><a href="/irrigation">Plant Irrigation</a></li>
    <li><a href="/location">Weather Prediction</a></li>
  </ul>
</body>

</html>
