<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/static/js/irrigation.js" defer></script>
  <style>
    .container {
      display: flex;
    }

    .left {
      width: 200px;
    }

    .right {
      width: 200px;
    }

    .button {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  </style>
  <title>Irrigation Advice</title>
</head>

<body>
  <h1>Irrigation</h1>

  <form id="irrigationForm">
    <div class="container">
      <div class="left">
        <label for="crop" class="">Select Crop:</label>
      </div>
      <div class="right">
        <select id="crop" name="crop">
          <option value="" disabled selected>Select Crop</option>
          {% for crop in crops %}
          <option value="{{ crop }}">{{ crop }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="container">
      <div class="left"><label for="irrigation">Enter Irrigation Amount:</label></div>
      <div class="right"><input id="irrigation" name="irrigation" required></div>
    </div>

    <div class="button">
      <button type="submit">Submit</button>
    </div>
  </form>

  <div id="result"></div>
</body>

</html>
